<div class="container">
	<div class="row">
		<div id = "validation_div">
			<% if @date_validation == "true" %>
					<label style="color: red">start date cannot be greater than end date</label>
			<% end %>
			<%= form_tag("/all_reports/overall_psychosocial_cases/submit_form", class: "form-inline" ,method: "post", class: 'form-inline', name:"myForm", id:"submit_form_for_monthly_report") do %>
			<div class="title-sub-report">
				<h3>Status of Psychosocial Cases</h3>
			</div>
			<div class="sub-report-filter">
				<div class="col-sm-3">
					<label>Start Date</label>
					<%= date_field_tag(:start_date, Date.today, :id => 'start_date_field', :max => Date.today, :required => true)%>
				</div>
				<div class="col-sm-3">
					<label>End Date</label>
					<%= date_field_tag(:end_date, Date.today, :id => 'end_date_field', :max => Date.today, :required => true)%>
				</div>
				<div class="col-sm-3">
					<button type="submit">Submit</button>
				</div>
			<% end %>
			</div>
		</div>
		<div style="margin-top: 5%;" id="report">
			<table class="dataTable in_content_area reports">
				<thead>
					<tr>
						<td rowspan="2">Status of Cases (Psychosocial) - Overall</td>
            <td colspan="3">NUMBER OF LIVE CASES WITH PSYCHOSOCIAL INTERVENTIONS</td>
          </tr>
          
           <tr>
            <td>No. of psychosocial cases</td>
            <td>No. of psychosocial cases from each year that stand closed</td>
            <td>Total No. of psychosocial Cases from the current reporting period that are live</td>
          </tr>
        </thead>
				<tbody>
					<% @data.each do |i|%>
					 <tr>
						<td><%= i['year'] %></td>
						<td><%= i['psycho_cases'] %></td>
						<td><%= i['closed_cases'] %></td>
						<td><%= i['remaining'] %></td>
          </tr>
         <% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>
