<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script>   
$(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip();   
});

$(document).ready(function() {
	document.getElementById("validation_div").innerHTML= "";
    document.getElementById("submit_tag").addEventListener("click", function(event){
		document.getElementById("validation_div").innerHTML= "";
		var validation_content='';	
		var start_date = document.getElementById("start_date_field").value;
		var end_date = document.getElementById("end_date_field").value;
		if (start_date == "" || end_date == "")
		{
			if (start_date == "")
			{
				validation_content += '<label id = "start_date_validate1" style="color: red">please select start date</label>';
			}
			if (end_date == "")
			{
				validation_content += '<label id = "end_date_validate1" style="color: red">please select end date</label>'; 
			}
			if (start_date!= "" && end_date!= "")
			{
				if(new Date(start_date)> new Date(end_date))
				{
					validation_content += '<label id = "date_validation1" style="color: red">start date cannot be greater than end date</label>';
				}
				
			}

			event.preventDefault();
		}
		else if (start_date!= "" && end_date!= "")
		{
			if(new Date(start_date)> new Date(end_date))
			{
				validation_content += '<label id = "date_validation1" style="color: red">start date cannot be greater than end date</label>';
				event.preventDefault();
			}
			
		}
		document.getElementById("validation_div").innerHTML= validation_content;
	});

	$('#end_date_field').on('change', function() {
		var end_date = document.getElementById("end_date_field").value;
		var start_date = document.getElementById("start_date_field").value;
		if (end_date!="")
		  {
		var element_exist =  document.getElementById('end_date_validate1');
		if (typeof(element_exist) != 'undefined' && element_exist != null)
		  {
			document.getElementById("end_date_validate1").innerHTML = ""; 
		  }
		}
		if (start_date!= "" && end_date!= "")
		  {
			if(new Date(start_date)<= new Date(end_date))
			  {
				var element_exist =  document.getElementById('date_validation1');
				if (typeof(element_exist) != 'undefined' && element_exist != null)
				  {
					document.getElementById("date_validation1").innerHTML = "";
				  }
			  }
			
		  }
		
	  });
	  
	  $('#start_date_field').on('change', function() {
		var start_date = document.getElementById("start_date_field").value;
		var end_date = document.getElementById("end_date_field").value;
		if (start_date!="")
		  {
			var element_exist =  document.getElementById('start_date_validate1');
			if (typeof(element_exist) != 'undefined' && element_exist != null)
				{
					document.getElementById("start_date_validate1").innerHTML = "";  
				}
		  }
		if (start_date!= "" && end_date!= "")
		  {
			if(new Date(start_date)<= new Date(end_date))
			  {
				var element_exist =  document.getElementById('date_validation1');
				if (typeof(element_exist) != 'undefined' && element_exist != null)
				  {
					document.getElementById("date_validation1").innerHTML = "";
				  }
			  }
			
		  }
	  });

});

</script>
<div class="container">
	<div class="row">
		<%= form_tag("/all_reports/detail_case_intake_closure/submit_form", class: "form-inline" ,method: "post", class: 'form-inline', name:"myForm", id:"submit_form_for_monthly_report") do %>
		<div class="title-sub-report">
			<h3>Details of Case Intake and Closure</h3>
		<div>
		<div class="sub-report-filter">
			<div id = "validation_div"></div>
			<div class="col-sm-3">
				<label>Start Date</label>
				<%= date_field_tag(:start_date, Date.today, :id => 'start_date_field', :max => Date.today, :required => true)%>
			</div>
			<div class="col-sm-3">	
				<label>End Date</label>
				<%= date_field_tag(:end_date, Date.today, :id => 'end_date_field', :max => Date.today, :required => true)%>
			</div>
			<div class="col-sm-3">
				<button type="submit" id ='submit_tag'>Submit</button>
				<div class="excel-sheet">
					<a id="generate" class="fa fa-file-excel-o" style ="font-size:30px;align:right" data-toggle="tooltip" title="Download excel" data-placement="bottom" target = "_blank"></a>
				</div>
			</div>
		<% end %>
		</div>
		
		<div style="margin-top: 5%; overflow-x: auto; overflow-y: auto;"  id="report">
			<table class="dataTable in_content_area reports">
				<thead>
					<tr hidden>
						<td colspan = 12 align = "center"><h4><b>Details of Case Intake and Closure</b></h4></td>
					</tr>
					<tr hidden>
						<td>Start Date: <%= @start_date %></td>
					</tr>
					<tr hidden>
						<td>End Date: <%= @end_date %></td>
					</tr>
					<tr hidden>
						<td></td>
					</tr>
					<tr>
						<td rowspan="2">YEARS</td>
						<td colspan="3">Total cases referred</td>
						<td colspan="3">Cases that were assigned a formal ID</td>
						<td colspan="3">Formal Cases Closed (At the end of reporting period/Year)</td>
						<td colspan="2">No. of Live cases at the end of the year/reporting period</td>
					</tr>
					<tr>
						<td>New Cases referred</td>
						<td>Referral Cases carried forward from previous Year</td>
						<td>No. of Referral Cases closed before Formal Intake</td>
						<td>Psychosocial Cases</td>
						<td>Psychosocial cum legal Cases</td>
                        <td>Total</td>
						<td>Psychosocial Cases closed Only</td>
						<td>Psychosocial cum legal Cases closed</td>
                        <td>Total</td>
						<td>Live Referral Cases</td>
						<td>Live Formal Cases</td>
					</tr>
					<tr>
						<td>[Col.1]</td>
						<td>[Col.2]</td>
						<td>[Col.3]</td>
						<td>[Col.4]</td>
						<td>[Col.5A]</td>
						<td>[Col.5B]</td>
						<td>[Col.5C]= [Col.5A + Col.5B]</td>
						<td>[Col.6A]</td>
						<td>[Col.6B]</td>
						<td>[Col.6C]= [Col.6A + Col.6B]</td>
						<td>[Col.7A]</td>
						<td>[Col.7B]= [Col.5C - Col.6C]</td>
						
					</tr>
				</thead>
				<tbody>
					<% @data.each do |i|%>
						<tr>
							<td><%= i['year'] %></td>
							<td><%= i['total'] %></td>						
							<td><%= i['previous'] %></td>					
							<td><%= i['before_close'] %></td>					
              <td><%= i['psychosocial'] %></td>
							<td><%= i['psycholegal'] %></td>
							<td><%= i['totalpyscholegal'] %></td>
							<td><%= i['psychosocial_closed'] %></td>
							<td><%= i['psycholegal_closed'] %></td> 
							<td><%= i['totalpyscholegal_closed'] %></td>  
							<td><%= i['pending_live'] %></td>
							<td><%= i['totalformalcase'] %></td>                                                   
						</tr>
					<% end %>
				</tbody>	
			</table>
		</div>
	</div>
</div>

<script>
document.getElementById("start_date_field").defaultValue = "<%= @start_date %>";
document.getElementById("end_date_field").defaultValue = "<%=@end_date %>";
document.getElementById("generate").addEventListener("click", function () {
	createDownloadLink("#generate",generateExcel($("#report")),"detail_case_intake_closure_report.xlsx");
  });
  
  function generateExcel(el) {
		var clon = el.clone();
		var html = clon.wrap('<div>').parent().html();

		//add more symbols if needed...
		while (html.indexOf('á') != -1) html = html.replace(/á/g, '&aacute;');
		while (html.indexOf('é') != -1) html = html.replace(/é/g, '&eacute;');
		while (html.indexOf('í') != -1) html = html.replace(/í/g, '&iacute;');
		while (html.indexOf('ó') != -1) html = html.replace(/ó/g, '&oacute;');
		while (html.indexOf('ú') != -1) html = html.replace(/ú/g, '&uacute;');
		while (html.indexOf('º') != -1) html = html.replace(/º/g, '&ordm;');
		html = html.replace(/<td>/g, "<td>");			
		
		return html;
	}
	
	function createDownloadLink(anchorSelector, str, fileName){			
			var url = "data:application/vnd.ms-excel," + encodeURIComponent(str);
			$(anchorSelector).attr("download", fileName);               
			$(anchorSelector).attr("href", url);
			
		}


</script>
