<div class="container">
	<div class="row">
        <div>
		    <h3>Cases where identified needs could not be met and reasons </h3>
			<div id = "validation_div"></div>
			<%= form_tag("/all_reports/cases_where_identified/submit_form", class: "form-inline" ,method: "post", class: 'form-inline', name:"myForm", id:"submit_form_for_cases_where_identified") do %>
				<label>Start Date</label>
				<%= date_field_tag(:start_date, Date.today, :id => 'start_date_field', :max => Date.today, :required => true)%>

				<label>End Date</label>
				<%= date_field_tag(:end_date, Date.today, :id => 'end_date_field', :max => Date.today, :required => true)%>

				<button type="submit">Submit</button>
			<% end %>
		</div>
		<div class="large-12 small-12 columns table-responsive" style="overflow: scroll; margin-top:2%">
        <table class="dataTable in_content_area reports">
            <thead>
                <tr>
					<td>Reasons for inability to meet a need</td>
					<td>Emotional/ Psychological</td>
					<td>Shelter/ Protection</td>
					<td>Educational</td>
					<td>Financial</td>
					<td>Paralegal</td>
					<td>Familial</td>
					<td>Medical</td>
                </tr>
            </thead>
            <tbody>
              <% @data.each do |x| %>  
				<tr>
					<td><%= x["reason"] %></td>
					<td><%= x["reason_emotional"] %></td>
					<td><%= x["reason_shelter_protection"] %></td>
					<td><%= x["reason_educational_vocational"] %></td>
					<td><%= x["reason_financial"] %></td>
					<td><%= x["reason_paralegal"] %></td>
					<td><%= x["reason_familial"] %></td>
					<td><%= x["reason_medical"] %></td>
				</tr>
              <% end %>
            </tbody>	
        </table>
		</div>
	</div>
</div>
